@{
    ViewData["Title"] = "Home Page";
}

<style>
    table {
        border: 5px solid black;
    }

    td {
        text-align: center;
        border: 3px solid black;
        padding: 25px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Horoscope</h1>

    <table align="center">
        <tr>
            <td><a href="/Horoscope/Select">Aries</a></td>
            <td><a href="/Horoscope/Select">Taurus</a></td>
            <td><a href="/Horoscope/Select">Gemini</a></td>
        </tr>
        <tr>
            <td><a href="/Horoscope/Select">Cancer</a></td>
            <td><a href="/Horoscope/Select">Leo</a></td>
            <td><a href="/Horoscope/Select">Libra</a></td>

        </tr>
        <tr>
            <td><a href="/Horoscope/Select">Scorpio</a></td>
            <td><a href="/Horoscope/Select">Sagittarius</a></td>
            <td><a href="/Horoscope/Select">Virgo</a></td>

        </tr>
        <tr>
            <td><a href="/Horoscope/Select">Capricorn</a></td>
            <td><a href="/Horoscope/Select">Aquarius</a></td>
            <td><a href="/Horoscope/Select">Pisces</a></td>
        </tr>
    </table>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
